<h1 class="reg-title"> Come back into the JUNGLE!</h1>
<h6 class="reg-title"> Log in using the below form:</h6>
<br>

<%= form_tag '/login', class: "login-form" do %>

  Email: <%= text_field_tag :email %>
  Password: <%= password_field_tag :password %>
  <%= submit_tag "Submit" %>

<% end %>
