// Vendor
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

// App
@import "products";

// Global
body {
  padding-top: 70px;
}

.login-form {
  margin: 0 auto;
  width: 50%;
}

.new_user {
  margin: 0 auto;
  width: 50%;

}

.nav-users {
  color: #ab4443;
  vertical-align: middle;
  line-height: 50px;
}

.reg-title {
  color: #ab4443;
  margin: 0 auto;
  width: 50%;
}

.reg-field-head {
  text-align: right;
  padding: 5%;
}

.reg-submit {
  padding-top: 2%;
}

.order-total {
  text-align: right;
}

.empty-container {
  margin: 0 auto;
  width: 75%;
  font: Helvetica;

  .empty-cart {
    font-size: 72px;
    background: -webkit-linear-gradient(#ab4443, rgb(153, 0, 0));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}