// Vendor
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

// App
@import "products";

// Global
body {
  padding-top: 70px;
  background: #29ab87;
}

.navbar {
  background: #000;
  
  .navbar-default .navbar-nav > li > a  {
    color: #fff;
  }

  .navbar-brand > img {
    max-height: 100px;
    margin-top: -28px;
    position: absolute;
    top: 10;
    left: 0.5em;

  }
}

.review-title {
  color: #ab4443;
}

#review_description {
  width: 80%;
  height: 100px;
  resize: none;
}

.review-rating {
  font-size: 20px;
}

#review_rating {
  height: 30px;
  margin: 5px 5px 10px 5px;
}

.fa a {
  background: #ab4443;
}

.login-form {
  margin: 0 auto;
  width: 50%;
}

.new_user {
  margin: 0 auto;
  width: 50%;

}

.nav-users {
  color: #ab4443;
  vertical-align: middle;
  line-height: 50px;
}

.reg-title {
  color: #ab4443;
  margin: 0 auto;
  width: 50%;
}

.reg-field-head {
  text-align: right;
  padding: 5%;
}

.reg-submit {
  padding-top: 2%;
}

.order-total {
  text-align: right;
}

.empty-container {
  margin: 0 auto;
  width: 75%;
  font: Helvetica;

  .empty-cart {
    font-size: 72px;
    background: -webkit-linear-gradient(#ab4443, rgb(153, 0, 0));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}