// Vendor
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

// App
@import "products";

// Global
body {
  padding-top: 70px;
}

.login-form {
  margin: 0 auto;
  width: 50%;
}

.new_user {
  margin: 0 auto;
  width: 50%;

}

.nav-users {
  color: #ab4443;
  vertical-align: middle;
  line-height: 50px;
}

.reg-title {
  color: #ab4443;
  margin: 0 auto;
  width: 50%;
}

.reg-field-head {
  text-align: right;
  padding: 5%;
}

.reg-submit {
  padding-top: 2%;
}